<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1 th:text="${title}" class="mt-5"></h1>
    <p class="lead">Добро пожаловать на страницу "О нас" учебного проекта системы управления задачами!</p>

    <h2>Наша миссия</h2>
    <p class="lead">
        Мы - команда студентов исследователей и разработчиков, обучающихся в мире информационных технологий. Нашей целью является создание эффективной системы управления задачами, которая поможет организовывать работу и повышать продуктивность как в профессиональной деятельности, так и в повседневной жизни.
    </p>

    <h2>Что нас вдохновляет</h2>
    <ol>
        <li class="lead"><strong>Улучшение продуктивности:</strong> Мы верим в мощь организации и эффективного управления задачами. Наш проект призван помочь вам структурировать ваши цели и задачи, а также отслеживать их выполнение.</li>
        <li class="lead"><strong>Простота и удобство:</strong> Мы стремимся к созданию простого и интуитивно понятного интерфейса, который был бы доступен всем, независимо от вашего опыта в области информационных технологий.</li>
        <li class="lead"><strong>Гибкость и масштабируемость:</strong> Наша система разрабатывается с учетом различных потребностей пользователей. Мы учитываем разнообразные сферы применения и стремимся предоставить возможности для настройки системы под ваши нужды.</li>
        <li class="lead"><strong>Обучение и развитие:</strong> Мы учимся и растем вместе с нашим проектом. Новые идеи и технологии всегда находятся в центре наших усилий. Мы стремимся делиться знаниями и опытом с нашими пользователями.</li>
    </ol>

    <h2>С чем мы работаем</h2>
    <p class="lead">
        Наш проект строится на современных технологиях разработки программного обеспечения и управления данными. Мы используем языки программирования, базы данных и инструменты, чтобы создать надежное и удобное решение для управления задачами.
    </p>

    <h2>Наши ценности</h2>
    <ul>
        <li class="lead"><strong>Профессионализм:</strong> Мы стремимся к высшему уровню качества в разработке нашей системы.</li>
        <li class="lead"><strong>Пользовательская ориентированность:</strong> Ваше удовлетворение и ваши потребности всегда на первом месте.</li>
        <li class="lead"><strong>Коллаборация:</strong> Мы приветствуем обратную связь и сотрудничество с нашими пользователями для улучшения проекта.</li>
        <li class="lead"><strong>Инновации:</strong> Мы всегда готовы к изменениям и внедрению новых идей.</li>
    </ul>

    <p class="lead">
        Мы рады, что вы присоединились к нам в путешествии по управлению задачами. Наша команда работает над совершенствованием нашей системы, и мы всегда открыты
    </p>
</div>
<div th:insert="blocks/footer :: footer"></div>
<!--<p th:text="'Hello, ' + ${title} + '!'" /> -->
</body>
</html>