<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<main role="main" class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
    <h1>Welcome to Admin Dashboard</h1>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-users-tab" data-toggle="tab" data-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="true">Пользователи</button>
            <button class="nav-link" id="nav-task-type-tab" data-toggle="tab" data-target="#nav-task-type" type="button" role="tab" aria-controls="nav-task-type" aria-selected="false">Виды задач</button>
            <button class="nav-link" id="nav-status-tab" data-toggle="tab" data-target="#nav-status" type="button" role="tab" aria-controls="nav-status" aria-selected="false">Статусы</button>
            <button class="nav-link" id="nav-project-tab" data-toggle="tab" data-target="#nav-project" type="button" role="tab" aria-controls="nav-project" aria-selected="false">Проекты</button>
            <button class="nav-link" id="nav-linked-task-tab" data-toggle="tab" data-target="#nav-linked-task" type="button" role="tab" aria-controls="nav-linked-task" aria-selected="false">Связи с задачами</button>
            <button class="nav-link" id="nav-priority-tab" data-toggle="tab" data-target="#nav-priority" type="button" role="tab" aria-controls="nav-priority" aria-selected="false">Приоритеты</button>
            <button class="nav-link" id="nav-team-tab" data-toggle="tab" data-target="#nav-team" type="button" role="tab" aria-controls="nav-team" aria-selected="false">Команды</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
            <h2>Список пользователей</h2>
            <!-- Display success messages -->
            <div th:if="${successMessage}" style="color: green;">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" style="color: red;">
                <p th:text="${errorMessage}"></p>
            </div>

            <!-- User Table -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Family Name</th>
                    <th scope="col">Login</th>
                    <th scope="col">Role</th>
                    <th scope="col">Password</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created</th>
                    <th scope="col">Edited</th>
                </tr>
                </thead>
                <tbody>
                <!-- Loop through users and display them in the table -->
                <tr  th:each="user : ${users}" scope="row">
                    <td th:text="${user.user_id}"></td>
                    <td th:text="${user.first_name}"></td>
                    <td th:text="${user.second_name}"></td>
                    <td th:text="${user.family_name}"></td>
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.passwordHash}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${#temporals.format(user.timestamp_create, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td th:text="${#temporals.format(user.timestamp_edit, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td>
                        <!-- Delete/edit user link -->
                        <a th:href="@{/admin/editUserId/{id}(id=${user.user_id})}" class="btn btn-primary">Изменить</a>
                        <form th:action="@{/admin/resetPassword/{id}(id=${user.user_id})}" method="post">
                            <button class="btn btn-primary" type="submit">Сбросить пароль</button>
                        </form>
                        <!--<a th:href="@{/admin/deleteUser/{id}(id=${user.user_id})}" class="btn btn-danger">Delete</a>-->
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal" data-operation="delete" data-href="/admin/deleteUser/" data-designator="пользователь" th:data-id="${user.user_id}" th:data-name="${user.login}">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Form for adding a new user -->
            <h2>Добавление пользователя</h2>
            <div>
                <form th:action="@{/admin/addUser}" th:object="${newUser}" method="post">
                    <div class="form-group">
                        <label for="firstName">First Name: </label>
                        <input type="text" id="firstName" class="form-control" placeholder="Имя" th:field="*{first_name}" required/><br/>

                        <label for="lastName">Last Name: </label>
                        <input type="text" id="lastName" class="form-control" placeholder="Фамилия" th:field="*{second_name}" required/><br/>

                        <label for="familyName">Family Name: </label>
                        <input type="text" id="familyName" class="form-control" placeholder="Отчество" th:field="*{family_name}" required/><br/>

                        <label for="login">Login: </label>
                        <input type="text" id="login" class="form-control" placeholder="Login" th:field="*{login}" required/><br/>

                        <label for="Email">E-mail: </label>
                        <input type="email" id="email" class="form-control" placeholder="e-mail" th:field="*{email}" required/><br/>

                        <label for="password">Password: </label>
                        <input type="password" id="password" class="form-control" placeholder="Пароль"th:field="*{passwordHash}" required/><br/>

                        <label for="role">Role: </label>
                        <input type="text" id="role" class="form-control" placeholder="Роль" th:field="*{role}" required/><br/>

                        <button type="submit" class="btn btn-primary">Добавить пользователя</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-task-type" role="tabpanel" aria-labelledby="nav-task-type-tab">
            <h2>Список типов задач</h2>

            <!-- Display success messages -->
            <div th:if="${successMessage}" style="color: green;">
                <p th:text="${successMessage}"></p>
            </div>

            <!-- TaskType Table -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Task type</th>
                </tr>
                </thead>
                <tbody>
                <!-- Loop through task types and display them in the table -->
                <tr  th:each="type : ${taskTypes}" scope="row">
                    <td th:text="${type.task_type_id}"></td>
                    <td th:text="${type.task_type}"></td>
                    <td>
                        <!-- Delete/Edit user link -->
                        <a th:href="@{/admin/editTaskTypeId/{id}(id=${type.task_type_id})}" class="btn btn-primary">Изменить</a>
<!--                        <a th:href="@{/admin/deleteTaskTypeId/{id}(id=${type.task_type_id})}" class="btn btn-danger">Удалить</a>-->
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal" data-operation="delete" data-href="/admin/deleteTaskTypeId/" data-designator="тип задачи" th:data-id="${type.task_type_id}" th:data-name="${type.task_type}">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Form for adding a new task type -->
            <h2>Добавление типа задач</h2>
            <div>
                <form th:action="@{/admin/addTaskType}" th:object="${newTaskType}" method="post">
                    <div class="form-group">
                        <label for="taskTypeName">Наименование типа задачи: </label>
                        <input type="text" id="taskTypeName" class="form-control" placeholder="Тип задачи" th:field="*{task_type}" required/><br/>

                        <button type="submit" class="btn btn-primary">Добавить тип задачи</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
            <h2>Список стаутсов</h2>

            <!-- Display success messages -->
            <div th:if="${successMessage}" style="color: green;">
                <p th:text="${successMessage}"></p>
            </div>

            <!-- TaskType Table -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <!-- Loop through status and display them in the table -->
                <tr  th:each="status : ${statuses}" scope="row">
                    <td th:text="${status.status_id}"></td>
                    <td th:text="${status.status}"></td>
                    <td>
                        <!-- Delete/edit status -->
                        <a th:href="@{/admin/editStatusId/{id}(id=${status.status_id})}" class="btn btn-primary">Изменить</a>
<!--                        <a th:href="@{/admin/deleteStatusId/{id}(id=${status.status_id})}" class="btn btn-danger">Удалить</a>-->
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal"  data-operation="delete" data-href="/admin/deleteStatusId/" data-designator="статус" th:data-id="${status.status_id}" th:data-name="${status.status}">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Form for adding a new task type -->
            <h2>Добавление статуса</h2>
            <div>
                <form th:action="@{/admin/addStatus}" th:object="${newStatus}" method="post">
                    <div class="form-group">
                        <label for="statusName">Название статуса: </label>
                        <input type="text" id="statusName" class="form-control" placeholder="Наименование статуса" th:field="*{status}" required/><br/>

                        <button type="submit" class="btn btn-primary">Добавить статус</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-project" role="tabpanel" aria-labelledby="nav-project-tab">
            <h2>Список проектов</h2>

            <!-- Display success messages -->
            <div th:if="${successMessage}" style="color: green;">
                <p th:text="${successMessage}"></p>
            </div>

            <!-- Project Table -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Project</th>
                </tr>
                </thead>
                <tbody>
                <!-- Loop through projects and display them in the table -->
                <tr  th:each="project : ${projects}" scope="row">
                    <td th:text="${project.project_id}"></td>
                    <td th:text="${project.project_name}"></td>
                    <td th:text="${project.project_description}"></td>
                    <td>
                        <!-- Delete user link -->
                        <a th:href="@{/admin/editProjectId/{id}(id=${project.project_id})}" class="btn btn-primary">Изменить</a>
<!--                        <a th:href="@{/admin/deleteProjectId/{id}(id=${project.project_id})}" class="btn btn-danger">Удалить</a>-->
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal" data-operation="delete" data-href="/admin/deleteProjectId/" data-designator="проект" th:data-id="${project.project_id}" th:data-name="${project.project_name}">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Form for adding a new task type -->
            <h2>Добавление проекта</h2>
            <div>
                <form th:action="@{/admin/addProject}" th:object="${newProject}" method="post">
                    <div class="form-group">
                        <label for="projectName">Название проекта: </label>
                        <input type="text" id="projectName" class="form-control" placeholder="Название проекта" th:field="*{project_name}" required/><br/>

                        <label for="projectDescription">Описание проекта: </label>
                        <textarea id="projectDescription" class="form-control" placeholder="Описание проекта" th:field="*{project_description}" required></textarea><br/>

                        <button type="submit" class="btn btn-primary">Добавить проект</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-linked-task" role="tabpanel" aria-labelledby="nav-linked-task-tab">
            <h2>Список связей между задачами</h2>

            <!-- Display success messages -->
            <div th:if="${successMessage}" style="color: green;">
                <p th:text="${successMessage}"></p>
            </div>

            <!-- LinkedTaskType Table -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Linked Task type</th>
                </tr>
                </thead>
                <tbody>
                <!-- Loop through linkedTaskTypes and display them in the table -->
                <tr  th:each="linkedType : ${linkedTaskTypes}" scope="row">
                    <td th:text="${linkedType.linked_task_type_id}"></td>
                    <td th:text="${linkedType.linked_task_type}"></td>
                    <td>
                        <!-- Delete user link -->
                        <a th:href="@{/admin/editLinkedTaskTypeId/{id}(id=${linkedType.linked_task_type_id})}" class="btn btn-primary">Изменить</a>
<!--                        <a th:href="@{/admin/deleteLinkedTaskType/{id}(id=${linkedType.linked_task_type_id})}" class="btn btn-danger">Удалить</a>-->
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal" data-operation="delete" data-href="/admin/deleteLinkedTaskTypeId/" data-designator="тип связи" th:data-id="${linkedType.linked_task_type_id}" th:data-name="${linkedType.linked_task_type}">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Form for adding a new linked task type -->
            <h2>Добавление типа связи с задачей</h2>
            <div>
                <form th:action="@{/admin/addLinkedTaskType}" th:object="${newLinkedTaskType}" method="post">
                    <div class="form-group">
                        <label for="linkedTaskTypeName">Название типа связи с задачей: </label>
                        <input type="text" id="linkedTaskTypeName" class="form-control" placeholder="Наименование типа связи" th:field="*{linked_task_type}" required/><br/>

                        <button type="submit" class="btn btn-primary">Добавить тип связи с задачей</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-priority" role="tabpanel" aria-labelledby="nav-priority-tab">
            <h2>Список приоритетов</h2>

            <!-- Display success messages -->
            <div th:if="${successMessage}" style="color: green;">
                <p th:text="${successMessage}"></p>
            </div>

            <!-- Priority Table -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Priority</th>
                </tr>
                </thead>
                <tbody>
                <!-- Loop through Priority and display them in the table -->
                <tr  th:each="priority : ${priorities}" scope="row">
                    <td th:text="${priority.priority_id}"></td>
                    <td th:text="${priority.priority}"></td>
                    <td>
                        <!-- Delete/edit user link -->
                        <a th:href="@{/admin/editPriorityId/{id}(id=${priority.priority_id})}" class="btn btn-primary">Изменить</a>
<!--                        <a th:href="@{/admin/deletePriority/{id}(id=${priority.priority_id})}" class="btn btn-danger">Удалить</a>-->
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal" data-operation="delete" data-href="/admin/deletePriorityId/" data-designator="приоритет" th:data-id="${priority.priority_id}" th:data-name="${priority.priority}">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Form for adding a new Priority -->
            <h2>Добавление приоритета</h2>
            <div>
                <form th:action="@{/admin/addPriority}" th:object="${newPriority}" method="post">
                    <div class="form-group">
                        <label for="priorityName">Название типа связи с задачей: </label>
                        <input type="text" id="priorityName" class="form-control" placeholder="Название приоритета" th:field="*{priority}" required/><br/>

                        <button type="submit" class="btn btn-primary">Добавить приоритет</button>
<!--                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal" data-operation="add">Добавить приоритет</a>-->
                    </div>
                </form>
            </div>
        </div>

    <div class="tab-pane fade" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
        <h2>Список команд</h2>

        <!-- Display success messages -->
        <div th:if="${successMessage}" style="color: green;">
            <p th:text="${successMessage}"></p>
        </div>

        <!-- Team Table -->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Team</th>
                <th scope="col">Состав команды</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through Team and display them in the table -->
            <tr  th:each="team : ${teams}" scope="row">
                <td th:text="${team.team_id}"></td>
                <td th:text="${team.team_name}"></td>
                <td>
                    <ul>
                        <li th:each="member:${team.members}" th:text="${member.getFullName()}"></li>
                    </ul>
                </td>
                <td>
                    <!-- Delete/edit user link -->
                    <a th:href="@{/admin/editTeamId/{id}(id=${team.team_id})}" class="btn btn-primary">Изменить</a>
                    <!--                        <a th:href="@{/admin/deletePriority/{id}(id=${priority.priority_id})}" class="btn btn-danger">Удалить</a>-->
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal" data-operation="delete" data-href="/admin/deleteTeamId/" data-designator="команда" th:data-id="${team.team_id}" th:data-name="${team.team_name}">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Form for adding a new Priority -->
        <h2>Добавление команды</h2>
        <div>
            <form th:action="@{/admin/addTeam}" th:object="${newTeam}" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <label for="teamName">Название команды</label>
                        <input type="text" class="form-control" id="teamName" name="teamName" required>
                    </div>
                    <label for="userIds">Выбрать членов команды</label>
                    <div class="form-check" id="userIds" th:each="user : ${users}" required>
                        <input class="form-check-input" type="checkbox" name="userIds" th:value="${user.user_id}" th:id="${user.user_id}">
                        <label class="form-check-label" th:text="${user.getFullName()}">
                        </label>
                    </div><br>
                    <button type="submit" class="btn btn-primary">Добавить команду</button>
                    <!--                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal" data-operation="add">Добавить приоритет</a>-->
                </div>
            </form>
        </div>
    </div>
    </div>

    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Подтверждение операции</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="confirmationMessage">Вы уверены, что хотите выполнить данную операцию?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <a href="#" id="confirmOperation" class="btn btn-primary">Подтвердить</a>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:insert="~{blocks/footer :: footer}"></div>
<script>
    $('#confirmationModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var operation = button.data('operation'); // Extract info from data-* attributes

        var modal = $(this);
        var confirmOperationButton = modal.find('#confirmOperation');
            var designator = button.data('designator')
            var id = button.data('id');
            var name = button.data('name');
            var href = button.data('href');
            modal.find('#confirmationMessage').text('Вы уверены, что хотите удалить ' + designator + ' "' + name + '"?');
            confirmOperationButton.attr('href', href + id);
    });
</script>
</body>
</html>