<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="EN">
<head>
    <title>Задачи подробнее</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container mt-5">
    <div th:each="el : ${tasks}" class="alert alert-secondary mt-2">
        <h1 th:text="'T-'+${el.task_id}"/>
        <h4 th:text="'Тема: '+${el.short_description}"/>
        <p class="text-justify text-wrap" th:utext="'Описание: '+${el.full_description}"></p>
        <p th:text="'Срок до: '+${#dates.format(el.deadline, 'dd-MMMM-yyyy')}"/>
        <p th:if="${el.status_id != null}" th:text="'Статус: ' + ${el.status_id.status}"/>
        <p th:unless="${el.status_id != null}">Статус не найден</p>
        <p th:if="${el.project_id != null}" th:text="'Проект: ' + ${el.project_id.project_name}"/>
        <p th:unless="${el.project_id != null}">Проект не найден</p>
        <p th:if="${el.task_type_id != null}" th:text="'Тип задачи: ' + ${el.task_type_id.task_type}"/>
        <p th:unless="${el.task_type_id!= null}">Нет типа задачи</p>
        <!--<p th:if="${el.linked_task_id != null}" th:text="'Связанная задача: ' + ${el.linked_task_id.short_description}"/>
        <p th:unless="${el.linked_task_id != null}">Нет связанных задач</p> -->
        <p th:if="${el.linked_task_type_id != null}" th:text="'Тип связи с задачей: ' + ${el.linked_task_type_id.linked_task_type}"/>
        <p th:unless="${el.linked_task_type_id != null}"></p>
        <p th:if="${el.author_id != null}" th:text="'Автор: ' + ${el.author_id.first_name}+' '+ ${el.author_id.second_name}+' '+ ${el.author_id.family_name}+' ('+ ${el.author_id.login}+')'"/>
        <p th:unless="${el.author_id != null}">Нет автора</p>
        <p th:if="${el.executor_id != null}" th:text="'Исполнитель: ' + ${el.executor_id.first_name}+' '+ ${el.executor_id.second_name}+' '+ ${el.executor_id.family_name}+' ('+ ${el.executor_id.login}+')'"/>
        <p th:unless="${el.executor_id != null}">Нет исполнителя</p>
        <p th:if="${el.priority_id != null}" th:text="'Приоритет: ' + ${el.priority_id.priority}"/>
        <p th:unless="${el.priority_id != null}">Приоритет не установлен</p>

        <div class="container">
            <div class="row justify-content-around">
                <a th:href="'/tasks/' + ${el.task_id} + '/edit'" class="btn btn-outline-primary">Редактировать</a>
                <a th:href="'/tasks'" class="btn btn-outline-secondary">Отмена</a>
<!--                <form th:action="'/tasks/' + ${el.task_id} + '/remove'" method="post">-->
<!--                    <button class="btn btn-outline-danger" type="submit">Удалить</button>-->
<!--                </form>-->
                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmationModal"
                        data-operation="delete" th:data-id="${el.task_id}" th:data-name="${el.short_description}"
                        sec:authorize="hasRole('ADMIN')">Удалить</button>
            </div>
        </div>
        <div>
            <div>
                <br>
                <h4>Комментарии к задаче:</h4>
                <div class="alert alert-light" role="alert" id="comment"  th:if="${el.comments != null}" th:each="comment : ${el.comments}">
                    <div id="comment-header" class="d-flex justify-content-between align-items-left">
                        <p class="mb-1" th:text="${comment.user.first_name}+' '+${comment.user.family_name}"></p>
                        <small class="muted" th:text="' добавил комментарий '+${#temporals.format(comment.timestamp, 'dd-MMMM-yyyy HH:mm')}"></small>

                    </div>
                    <hr>
                    <div id="comment-body" class="d-flex justify-content-between align-items-center">
                        <p class="text-justify text-wrap" th:utext="${comment.content}"></p>
                    </div>
                </div>
                <hr>
                <!-- Форма для добавления комментария -->
                <form th:action="'/tasks/' + ${el.task_id} + '/addComment'" id="commentForm" method="post">
                    <textarea class="form-control" name="content" rows="4" cols="50" required></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary">Добавить комментарий</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Модальное окно подтверждения удаления -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Подтверждение удаления</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="confirmationMessage">Вы уверены, что хотите удалить задачу?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <form id="confirmOperationForm" action="" method="post">
                        <input type="hidden" name="_method" value="POST"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<!--                        <input type="hidden" name="_csrf" value="${_csrf.token}" />-->
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('#confirmationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var operation = button.data('operation');
            var name = button.data('name');
            console.log('Operation:', operation);
            console.log('Name:', name);
            var modal = $(this);
            var confirmOperationForm = modal.find('#confirmOperationForm');
            if (operation === 'delete') {
                var id = button.data('id');
                modal.find('#confirmationMessage').text('Вы уверены, что хотите удалить задачу ' + name + '?');
                confirmOperationForm.attr('action', '/tasks/' + id + '/remove');
                console.log('id:', id);
            }
        });
    });
</script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('#commentForm').submit(function () {
            var content = $('textarea[name="content"]').val();
            content = content.replace(/\n/g, '<br>');
            $('textarea[name="content"]').val(content);
        });
    });
</script>
<div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>