<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title>Список задач</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Таблица задач</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Тип задачи</th>
            <th scope="col">Срок исполнения</th>
            <th scope="col">Статус</th>
            <th scope="col">Проект</th>
            <th scope="col">Связанная задача</th>
            <th scope="col">Тип связи</th>
            <th scope="col">Автор</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Создана</th>
            <th scope="col">Изменена</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through tasks and display them in the table -->
        <tr  th:each="task : ${tasks}" scope="row" > <!--th:sort="${task.task_id}-->
            <td th:text="${task.task_id}"></td>
            <td th:utext="${task.short_description}"></td>
            <td th:utext="${task.full_description}"></td>
            <td th:text="${task.task_type_id.task_type}"></td>
            <td th:text="${#dates.format(task.deadline, 'dd-MM-yyyy')}"></td>
            <td th:text="${task.status_id.status}"></td>
            <td th:text="${task.project_id.project_name}"></td>
            <td th:text="'T-'+${task.linked_task_id}"></td>
            <td th:text="${task.linked_task_type_id.linked_task_type}"></td>
            <td th:text="${task.author_id.second_name}"></td>
            <td th:text="${task.executor_id.second_name}"></td>
            <td th:text="${#temporals.format(task.timestamp_create, 'dd-MM-yyyy')}"></td>
            <td th:text="${#temporals.format(task.timestamp_edit, 'dd-MM-yyyy')}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Подключение библиотеки toastr из CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        var successMessage = /*[[@{${successMessage}}]]*/ ''; // Retrieve successMessage from Thymeleaf
        console.log(successMessage);

        if (successMessage === "Задача успешно добавлена!") {
            toastr.success("Задача успешно добавлена!");
        } else if (successMessage === "Задача успешно изменена!") {
            toastr.success("Задача успешно изменена!");
        } else if (successMessage === "Задача успешно удалена!") {
            toastr.error("Задача успешно удалена!");
        }

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    });
</script>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>