<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title>Редактирование задачи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container mt-5 mb-5">
    <h1>Редактирование задачи</h1>
    <div th:each="el:${task}">
        <form th:action="@{'/tasks/' + ${task.getTask_id()} + '/edit'}" method="post" th:object="${task}">
        <label for="SelectTaskType1" class="form-label">Тип задачи</label><br>
        <select class="form-control" id="SelectTaskType1" aria-label="Default select example" name="task_type_id">
            <option selected="selected" value="" disabled="disabled">Выберите тип задачи</option>
            <option th:each="type : ${taskTypes}" th:value="${type.task_type_id}"
                    th:text="${type.task_type}" th:selected="${type.task_type_id == (task.task_type_id != null ? task.task_type_id.getTask_type_id() : null)}"></option>
        </select><br>
        <label for="SelectStatus1" class="form-label">Статус задачи</label><br>
        <select class="form-control" id="SelectStatus1" aria-label="Default select example" name="status_id" >
            <option selected="selected" value="" disabled="disabled">Выберите статус</option>
            <option th:each="status : ${statuses}" th:value="${status.status_id}" th:text="${status.status}"
                    th:selected="${status.status_id == (task.status_id != null ? task.status_id.getStatus_id() : null)}"></option>
        </select><br>
        <label for="Name1" class="form-label">Название задачи</label><br>
        <input id="Name1" type="text" name="short_description" placeholder="введите краткое описание задачи" class="form-control" th:value="${el.short_description}" required><br>
        <label for="Description1" class="form-label">Описание задачи</label><br>
        <textarea id="Description1" name="full_description" placeholder="введите полный текст задачи" class="form-control" th:text="${el.full_description}" required></textarea><br>
        <label for="SelectTask1" class="form-label">Связь с задачей</label><br>
        <select class="form-control" id="SelectTask1" aria-label="Default select example" name="linked_task_id" >
            <option selected="selected" value="" disabled="disabled">Выберите задачу</option>
            <option th:each="linked:${tasks}" th:value="${linked.task_id}" th:text="${linked.short_description}"
            th:selected="${linked.task_id == task.getLinked_task_id()}"></option>
        </select><br>
        <label for="SelectLinkedTaskType1" class="form-label">Тип связи</label><br>
        <select class="form-control" id="SelectLinkedTaskType1" aria-label="Default select example" name="linked_task_type_id" >
            <option selected value="" disabled="disabled">Выберите тип связи</option>
            <option th:each="lType:${linkedType}" th:value="${lType.linked_task_type_id}" th:text="${lType.linked_task_type}"
            th:selected="${lType.linked_task_type_id == (task.linked_task_type_id != null ? task.linked_task_type_id.getLinked_task_type_id() : null)}"></option>
        </select><br>
            <!--<p><span th:each="lType:${linkedType}" th:text="${lType.linked_task_type_id}+'\n'"></span></p>
            <p><span th:text="${task.linked_task_type_id.getLinked_task_type_id()}"></span></p>-->
        <label for="Date1" class="form-label">Предполагаемый срок выполнения задачи</label><br>
        <input id="Date1" type="date" name="deadline"  placeholder="выберите дату" class="form-control" pattern="yyyy-MM-dd" th:value="${#dates.format(el.deadline, 'yyyy-MM-dd')}" required><br>
        <label for="SelectProject1" class="form-label">Проект</label><br>
        <select class="form-control" id="SelectProject1" aria-label="Default select example" name="project_id">
            <option selected value="" disabled="disabled">Выберите проект</option>
            <option th:each="project:${projects}" th:value="${project.project_id}" th:text="${project.project_name}"
            th:selected="${project.project_id == (task.project_id != null ? task.project_id.getProject_id() : '')}"></option>
        </select><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                <label class="form-check-label" for="inlineRadio1">Исполнитель</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Команда</label>
            </div><br><br>
            <div id="executorSelection" style="display: block;">
                <label for="SelectExecutor1" class="form-label">Исполнитель</label><br>
                <select class="form-control" id="SelectExecutor1" aria-label="Default select example" name="executor_id" >
                    <option selected value="" disabled="disabled">Выберите исполнителя</option>
                    <option th:each="user:${users}"
                            th:value="${user?.user_id}"
                            th:text="${user.getFullName() != null ? user.first_name+' '+user.second_name+'('+user.login+')':'Выберите исполнителя'}"
                            th:selected="${user.user_id == (task.executor_id != null ? task.executor_id.getUser_id() : null)}"></option>
                </select><br>
            </div>
            <div id="teamSelection" style="display: none;">
                <label for="SelectTeam1" class="form-label">Команда</label><br>
                <select class="form-control" id="SelectTeam1" aria-label="Default select example" name="team_id" >
                    <option selected value="" disabled>Выберите команду</option>
                    <option th:each="team:${teams}" th:value="${team?.team_id}" th:text="${team?.team_name}"
                    th:selected="${team.team_id == (team.team_id != null ? task.team_id.getTeam_id() : '')}"></option>
                </select><br>
            </div>

        <label for="SelectAuthor1" class="form-label">Автор</label><br>
        <select class="form-control" id="SelectAuthor1" aria-label="Default select example" name="author_id" >
            <option selected value="" disabled="disabled">Выберите Автора</option>
            <option th:each="user:${users}" th:value="${user?.user_id}" th:text="${user?.first_name}+' '+${user?.second_name}+'('+${user?.login}+')'"
                    th:selected="${user.user_id == (task.author_id != null ? task.author_id.getUser_id() : null)}"></option>
        </select><br>
        <label for="SelectPriority1" class="form-label">Приоритет</label><br>
        <select class="form-control" id="SelectPriority1" aria-label="Default select example" name="priority_id" >
            <option selected value="" disabled="disabled">Выберите приоритет задачи</option>
            <option th:each="priority:${priorities}" th:value="${priority?.priority_id}" th:text="${priority?.priority}"
                    th:selected="${priority.priority_id == (task.priority_id != null ? task.priority_id.getPriority_id() : null)}"></option>
        </select><br>
                <button type="submit" class="btn btn-success">Обновить задачу</button>
                <a th:href="@{'/tasks/' + ${task.getTask_id()}}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
    </div>
<div th:insert="~{blocks/footer :: footer}"></div>
<script>
    document.querySelectorAll('input[name="inlineRadioOptions"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
            if (this.value === 'option1') {
                document.getElementById('executorSelection').style.display = 'block';
                document.getElementById('teamSelection').style.display = 'none';
            } else if (this.value === 'option2') {
                document.getElementById('teamSelection').style.display = 'block';
                document.getElementById('executorSelection').style.display = 'none';
            }
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        var executorSelect = document.getElementById('SelectExecutor1');
        var teamSelect = document.getElementById('SelectTeam1');

        // Обработчик изменения выбора исполнителя
        executorSelect.addEventListener('change', function () {
            // Если выбран исполнитель, обнуляем выбор команды
            teamSelect.value = '';
        });

        // Обработчик изменения выбора команды
        teamSelect.addEventListener('change', function () {
            // Если выбрана команда, обнуляем выбор исполнителя
            executorSelect.value = '';
        });
    });
</script>
</body>
</html>